.gradient-custom {

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(203, 91, 17), rgba(37, 117, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: url('covid1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;}


.form-inline {
    display: flex;

    justify-content: center
}

.form-inline div {

    margin-top: 10%;

}

.form-inline button {

    margin-top: 10%;

}

  .content-module {
    margin-bottom: 16px;
    justify-content: center
  }
  .current-weather-details{
   display: flex;
   justify-content: space-between;
   margin-top: 5px;
  
  }
  .current-weather-details :right{
      position: relative;
  }
  .container{
    margin-top: 50px;
    
  }
  .submitbutton{
      margin-left: 50px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 420px;
    height: 220px;
    margin: auto;
    padding-right: 7px;
    text-align: center;
  }