<header><app-navigation></app-navigation></header>
<section>
    <br><br>
    <div style="text-align:center;">
        <div class="inline_block"><h5>&emsp;&emsp;CONNECT WITH US</h5><br>
            &emsp;&emsp;<img style="width:20%; height:10%" src="Facebook.png" alt="Facebook">
            &emsp;<img style="width:20%; height:10%" src="Twitter.png" alt="Twitter">
            &emsp;<img style="width:20%; height:10%" src="Instagram.png" alt="Instagram">
        </div>
        <br><br><br>
        <h5>Write to us (Feedback)</h5>
        <a href="h">Covid-19App@gmail.com</a>
        <br><br><br>
        <div class="covid">Covid-19<br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            
        </div>
    </div>
        <div style="text-align: center;"><br><br><br><a style="text-decoration:none ;" href="site"> Site Terms&emsp;&emsp;&emsp;&emsp;&emsp;Privacy Policy/Your Policy Rights&emsp;&emsp;&emsp;&emsp;&emsp;State Diclosures</a></div>
        <div style="text-align: center;"><br><br>© 2022 Covid 19 App Case Study. Covid19App® and ©2022 Symbol are owned by Covid 19 App. All rights reserved.<br><br></div>    
    
</section>
