<html><body>
    <app-navigation></app-navigation>
    <br><br>
    <div class="card">
        <h5>Country: India</h5>
        <p><b>Confirmed Cases:</b> 43801678</p>
                <p><b>Recovered Cases: </b>0</p>
                <p><b>Death Cases: </b>525821</p>
            <button type="" class="submitbutton btn btn-primary mb-2">Remove from
                Favourites</button>
    </div>
    <br>
    <div class="card">
        <h5>Country: Kenya</h5>
        <p><b>Confirmed Cases:</b> 337005</p>
                <p><b>Recovered Cases: </b>0</p>
                <p><b>Death Cases: </b>5670</p>
            <button type="" class="submitbutton btn btn-primary mb-2">Remove from
                Favourites</button>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body></html>
